@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;900&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
// font-family: 'Spectral', serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Oswald', sans-serif;

:root {
    --size-250: 15.625rem;
    --size-210: 13.125rem;
    --size-180: 11.25rem;
    --size-150: 9.375rem;
    --size-145: 9.0625rem;
    --size-120: 7.5rem;
    --size-100: 6.25rem;
    --size-90: 5.625rem;
    --size-85: 5.3125rem;
    --size-80: 5rem;
    --size-75: 4.6875rem;
    --size-70: 4.375rem;
    --size-50: 3.125rem;
    --size-45: 2.8125rem;
    --size-40: 2.5rem;
    --size-35: 2.1875rem;

    --first-color: rgb(148, 139, 100);
    --second-color: rgb(145, 140, 102);
    --third-color: rgb(69, 48, 47);
    --white-color: #fff;

    --h2-font-size: 5.3rem;
    --h3-font-size: 3.5rem;
    --h4-font-size: 1.5rem;
    --normal-font-size: 0.85rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    --first-font: "Spectral", serif;
    --second-font: "Raleway", sans-serif;
    --third-font: "Oswald", sans-serif;
}

body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-size: var(--normal-font-size);
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #000000;
}

img {
    max-width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.font {
    &-bold {
        font-weight: var(--font-bold);
    }
    &-semi-bold {
        font-weight: var(--font-semi-bold);
    }
    &-medium {
        font-weight: var(--font-medium);
    }
}

h2,
h3,
h4,
p {
    line-height: 1.5;
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

.first-color {
    color: var(--first-color);
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.item-change-action {
    position: absolute;
    left: var(--size-75);
    span {
        font-size: 1.2rem;
        margin-right: 1.2rem;
        font-weight: var(--font-semi-bold);
        cursor: pointer;
        &:first-child {
            opacity: 0.5;
            margin-left: var(--size-100);
        }
    }
}

.loading-icon {
    position: relative;
    width: calc(var(--size-150));
    height: calc(var(--size-150));
    border: 0.185rem solid;
    border-color: var(--white-color);
    border-left-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: rotate(45deg);
    div {
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0.5rem;
            height: 0.5rem;
            background: var(--white-color);
            border-radius: 50%;
        }
        &::after {
            content: "PLAY";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg) translateX(2.3rem);
            font-weight: var(--font-semi-bold);
        }
    }
}

.banner-container {
    position: relative;
    width: 100%;
    color: var(--white-color);
    padding: var(--size-35) var(--size-75) var(--size-120);
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: linear-gradient(to top, #000000, transparent);
    }
    & > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 101.5%;
        height: 100%;
        max-width: 101.5%;
        object-fit: cover;
        z-index: -1;
        margin-left: -1.5%;
    }
    .header {
        height: var(--size-90);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: calc(var(--size-80) * (-1));
        margin-right: -0.875rem;
        .logo {
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            &-left {
                background: var(--first-color);
                padding: var(--size-40);
                padding-left: var(--size-80);
                width: max-content;
                .logo-icon {
                    width: 0.715rem;
                    height: 0.715rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    div {
                        position: relative;
                        width: 100%;
                        height: 0.125rem;
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 0.15rem;
                            height: 0.15rem;
                            background: var(--white-color);
                        }
                        &::before {
                            left: 0;
                        }
                        &::after {
                            right: 0;
                        }
                    }
                }
            }
            &-right {
                padding: 0 var(--size-45);
                font-size: var(--h4-font-size);
                font-family: var(--first-font);
            }
        }
        &-link {
            display: flex;
            align-items: center;
            list-style: none;
            &-item {
                padding: 0.625rem 1.25rem;
                position: relative;
                &.active::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0.2rem;
                    height: 0.2rem;
                    border-radius: 50%;
                    background: var(--first-color);
                }
                &.header-icon {
                    padding: 0.625rem 0.875rem;
                    i {
                        font-size: 1rem;
                    }
                }
                &.header-line {
                    width: var(--size-40);
                    height: 0.1875rem;
                    background: var(--third-color);
                    padding: 0;
                    margin-left: 1.25rem;
                    margin-right: 1.625rem;
                }
            }
            .menu-icon {
                display: none;
                i {
                    &::before {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    .slide-list {
        padding: calc(var(--size-100) * 4) 0 var(--size-120);
        .slide-item {
            .item-info {
                margin-left: var(--size-100);
                width: 55%;
                max-width: 700px;
                h2,
                h2 * {
                    font-size: var(--h2-font-size);
                    font-weight: 300;
                    font-family: var(--first-font);
                    line-height: 1.3;
                    margin-bottom: var(--size-100);
                    letter-spacing: -0.2rem;
                    .italic-text {
                        color: var(--first-color);
                        font-style: italic;
                    }
                    .text-underline {
                        position: relative;
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 1.1rem;
                            left: 0;
                            width: 100%;
                            height: 0.2rem;
                            background: var(--white-color);
                        }
                    }
                }
                .title {
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                    font-weight: var(--font-bold);
                }
                .article-content {
                    column-count: 2;
                    column-width: 50%;
                    column-gap: var(--size-100);
                    margin-right: 11rem;
                    p {
                        line-height: 2.3;
                        .text-underline {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .industrial-text {
                position: absolute;
                top: 50%;
                right: var(--size-75);
                transform: translateY(-50%);
                height: var(--size-180);
                writing-mode: vertical-rl;
                line-height: 1.7;
                letter-spacing: 1.2px;
                margin-top: 1.4rem;
            }
        }
    }
    .slide-dot-list {
        position: absolute;
        top: 50%;
        left: var(--size-75);
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        transform-origin: left;
        margin-top: -4rem;
        .dot {
            width: 0.5rem;
            height: 0.5rem;
            background: var(--white-color);
            border-radius: 50%;
            margin: 0 1rem;
            &.active {
                background: transparent;
                border: 1px solid transparent;
                border-color: var(--white-color);
                box-sizing: unset;
            }
        }
    }
    .item-change-action,
    .social-list {
        bottom: var(--size-150);
    }
    .social-list {
        position: absolute;
        right: var(--size-75);
        i {
            font-size: 1rem;
            margin-left: 1.8rem;
        }
    }
    .loading-container {
        position: absolute;
        top: 50%;
        left: calc(55% + var(--size-100));
        transform: translateY(-50%);
        width: calc(45% - var(--size-100) * 3);
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.body-container {
    background: rgb(9, 3, 3);
    .body-content {
        width: calc(100% - var(--size-35));
        margin-left: auto;
        background: var(--white-color);
        .slide-list {
            overflow: hidden;
            margin-bottom: calc(var(--size-100) * 3);
            .slide-item {
                .about-top {
                    padding: var(--size-120) var(--size-80) var(--size-85) var(--size-145);
                    display: flex;
                    justify-content: space-between;
                    .top-title {
                        p {
                            padding: 0.1rem 0.6rem;
                            width: max-content;
                            margin: 0;
                            font-weight: var(--font-bold);
                            &:first-child {
                                background: #000;
                                color: #fff;
                                margin-bottom: 0.3rem;
                            }
                        }
                    }
                    .grey-line {
                        width: calc(200% / 3);
                        height: 0.5rem;
                        background: #ddd;
                        position: relative;
                        .item-change-action {
                            left: unset;
                            right: 0;
                            bottom: calc(var(--size-150) * (-1));
                            span {
                                margin-right: 0;
                                margin-left: 1.2rem;
                            }
                        }
                    }
                }
                .about-info {
                    display: flex;
                    position: relative;
                    .left-info {
                        width: 28.42%;
                        margin-right: 9.28%;
                        .slide-img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: 58% center;
                        }
                    }
                    .right-info {
                        width: 26.8%;
                        display: flex;
                        flex-direction: column;
                        h3 {
                            font-family: var(--first-font);
                            font-size: var(--h3-font-size);
                            font-weight: var(--font-medium);
                            line-height: 1.1;
                            letter-spacing: -0.2rem;
                            &:first-child {
                                color: #988c62;
                            }
                            &:last-of-type {
                                margin-bottom: 50px;
                            }
                            span {
                                position: relative;
                                font-family: inherit;
                                font-size: inherit;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 1.4rem;
                                    left: 0;
                                    width: 100%;
                                    height: 0.13rem;
                                    background: #000;
                                }
                            }
                        }
                        p {
                            line-height: 2;
                            margin: 0 0 2rem;
                            margin-right: 19%;
                            .text-underline {
                                text-decoration: underline;
                            }
                        }
                        button {
                            padding: 1.1rem 1.8rem;
                            border: none;
                            outline: none;
                            color: #fff;
                            background: #000;
                            cursor: pointer;
                            margin-top: 1.5rem;
                            width: max-content;
                        }
                        .speaker-img {
                            position: absolute;
                            bottom: -3.2rem;
                            right: 0;
                            width: 40%;
                        }
                    }
                }
            }
        }
        .middle-content {
            display: flex;
            justify-content: space-between;
            position: relative;
            p {
                line-height: 2;
                .text-underline {
                    text-decoration: underline;
                }
            }
            .left-content {
                width: 55%;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                z-index: 1;
                p {
                    padding: 8.75rem 37%;
                    padding-left: var(--size-210);
                    margin: 0;
                }
                .content-img {
                    width: 80.49%;
                    height: 0;
                    position: relative;
                    padding-bottom: 61.17%;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center 100%;
                    }
                }
            }
            .right-content {
                width: 45%;
                margin-top: -12.72%;
                z-index: 1;
                .content-img {
                    width: 100%;
                    height: 0;
                    position: relative;
                    padding-bottom: 113.19%;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .content-title-img {
                    width: var(--size-150);
                    margin-bottom: 2.3rem;
                }
                .translate-bottom {
                    width: 46%;
                    transform: translateY(12.5rem);
                    margin: auto;
                }
            }
            .middle-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: inherit;
                height: 100%;
                height: calc(100% + 60rem);
                box-sizing: border-box;
                background: url("/assets/img/middle-bg.jpg");
                background-size: cover;
                background-position: center;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: hidden;
                .bottom-content {
                    margin-left: var(--size-210);
                    h2 {
                        font-family: var(--third-font);
                        font-size: 12rem;
                        line-height: 1;
                        font-weight: var(--font-medium);
                        margin: 0;
                        position: relative;
                        width: max-content;
                        &:first-of-type {
                            &::after {
                                content: "";
                                position: absolute;
                                right: -120px;
                                top: 50%;
                                transform: translateY(-50%);
                                width: var(--size-120);
                                height: 1rem;
                                background: var(--first-color);
                            }
                        }
                        &:last-of-type {
                            margin-bottom: var(--size-100);
                        }
                    }

                    p {
                        width: 19%;
                        &:last-of-type {
                            margin-top: var(--size-80);
                            margin-bottom: var(--size-100);
                        }
                    }

                    .chair-img {
                        position: absolute;
                        top: calc(100% - 65rem);
                        left: calc(50% + 10rem);
                        transform: translateX(-50%);
                        width: 60rem;
                        height: 100rem;
                        // object-fit: cover;
                    }

                    .plus-icon {
                        position: absolute;
                        right: 10%;
                        bottom: var(--size-100);
                        width: var(--size-40);
                        height: var(--size-40);
                        border: 1px solid #ddd;
                        border-radius: 50%;
                        font-size: 2.5rem;
                        font-weight: lighter;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        user-select: none;
                    }
                }
            }
        }
    }
}

.bottom-container {
    height: 100%;
    padding-top: 60rem;
    background: rgb(176, 175, 173);
    .img-bg {
        position: relative;
        img {
            width: 100%;
            height: 60rem;
            object-fit: cover;
            object-position: center top;
            margin-bottom: -5px;
        }
        .loading-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin-top: -5rem;
            color: var(--white-color);
        }
    }
    .footer-container {
        background: rgb(203, 204, 208);
        .footer-content {
            position: relative;
            width: calc(100% - var(--size-35));
            margin-left: auto;
            background: var(--white-color);
            &::before, &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 0.5rem;
            }
            &::before {
                width: 100%;
                background: rgb(228, 229, 231);
                z-index: 1;
            }
            &::after {
                width: calc(var(--size-100) * 2);
                background: rgb(146, 141, 103);
                z-index: 2;
            }
            .footer-top {
                padding: var(--size-70) var(--size-80);
                position: relative;
                .img-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.1;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center bottom;
                    }
                }
                h4 {
                    font-family: var(--first-font);
                    font-weight: var(--font-medium);
                    font-size: 2.5rem;
                    letter-spacing: -0.1rem;
                }
                .email-input {
                    position: relative;
                    width: 22rem;
                    height: var(--size-50);
                    background: var(--white-color);
                    input {
                        width: 100%;
                        height: 100%;
                        padding: 1rem;
                        padding-right: 4.5rem;
                        border: 2px solid #000;
                        &::placeholder {
                            color: #000;
                        }
                    }
                    span {
                        position: absolute;
                        top: 2px;
                        right: 2px;
                        width: calc(3.5rem - 2px);
                        height: calc(100% - 4px);
                        font-size: 1rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        user-select: none;
                        background: inherit;
                        transition: 0.2s ease;
                        &:hover {
                            filter: invert(100%);
                        }
                    }
                }
            }
            .footer-info {
                padding: var(--size-120) var(--size-80);
                .footer-name {
                    font-family: var(--first-font);
                    font-size: 1.7rem;
                    font-weight: var(--font-semi-bold);
                }
                .footer-divider {
                    position: relative;
                    width: 100%;
                    height: 0.1rem;
                    background: rgb(228, 229, 231);
                    margin: var(--size-45) 0 var(--size-70);
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1rem;
                        height: 100%;
                        background: rgb(146, 141, 103);
                    }
                }
                .footer-main-content {
                    display: flex;
                    justify-content: space-between;
                    .footer-info-content {
                        display: flex;
                        .footer-column {
                            min-width: var(--size-210);
                            margin-right: var(--size-40);
                            .title {
                                text-transform: uppercase;
                                font-weight: var(--font-bold);
                                margin-bottom: 0.8rem;
                            }
                            p {
                                line-height: 2;
                                &.text-underline {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                    .footer-social-content {
                        .social-icon {
                            width: var(--size-40);
                            height: var(--size-40);
                            border: 1px solid #ddd;
                            border-radius: 50%;
                            font-size: 2.5rem;
                            font-weight: lighter;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            user-select: none;
                            margin-left: 1rem;
                        }
                    }
                }
                .footer-design-info {
                    margin-top: var(--size-100);
                    color: #aaa;
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    .item-change-action {
        left: var(--size-35);
        span {
            &:first-child {
                margin-left: var(--size-35);
            }
        }
    }
    .loading-icon {
        width: calc(var(--size-85));
        height: calc(var(--size-85));
        div {
            &::after {
                left: calc(50% + 1.25rem);
                transform: translate(-50%, -50%) rotate(-45deg) translateX(-1rem);
            }
        }
    }

    .banner-container {
        padding: var(--size-35) var(--size-35) var(--size-70);
       .header {
            height: 4rem;
            .logo {
                &-left {
                    padding: 1.5rem;
                    padding-left: 4.3rem;
                }
                &-right {
                    padding: 0 1.3rem; 
                    font-size: 1rem;
                }
            }
        }
    
        .slide-list {
            padding: calc(var(--size-35) * 4) 0 var(--size-90);
            .slide-item {
                .item-info {
                    margin-left: var(--size-35);
                    width: 62%;
                    h2,
                    h2 * {
                        font-size: var(--h3-font-size);
                        margin-bottom: var(--size-70);
                    }
                    .article-content {
                        column-gap: var(--size-50);
                        margin-right: 0;
                    }
                }
                .industrial-text {
                    right: 1.9rem;
                }
            }
        }
        .slide-dot-list {
            left: var(--size-35);
        }
        .item-change-action,
        .social-list {
            bottom: var(--size-50);
        }
        .social-list {
            right: var(--size-35);
        }
        .loading-container {
            width: calc(60% - var(--size-100) * 3);
        }
    }

    .body-container {
        .body-content {
            width: calc(100% - var(--size-35));
            .slide-list {
                margin-bottom: calc(var(--size-100) * 3);
                .slide-item {
                    .about-top {
                        padding: var(--size-50) var(--size-35) var(--size-50) var(--size-35);//

                        .grey-line {
                            width: 62.67%; //
                            .item-change-action {
                                bottom: calc(var(--size-50) * (-1));//
                            }
                        }
                    }
                    .about-info {
                        .left-info {
                            width: 34.42%;//
                            margin-right: 3.28%;//
                        }
                        .right-info {
                            width: 58.8%; //
                            .speaker-img {
                                
                            }
                        }
                    }
                }
            }
            .middle-content {
                display: flex;
                justify-content: space-between;
                position: relative;
                p {
                    line-height: 2;
                    .text-underline {
                        text-decoration: underline;
                    }
                }
                .left-content {
                    width: 55%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    z-index: 1;
                    p {
                        padding: 8.75rem 37%;
                        padding-left: var(--size-210);
                        margin: 0;
                    }
                    .content-img {
                        width: 80.49%;
                        height: 0;
                        position: relative;
                        padding-bottom: 61.17%;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            object-position: center 100%;
                        }
                    }
                }
                .right-content {
                    width: 45%;
                    margin-top: -12.72%;
                    z-index: 1;
                    .content-img {
                        width: 100%;
                        height: 0;
                        position: relative;
                        padding-bottom: 113.19%;
                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .content-title-img {
                        width: var(--size-150);
                        margin-bottom: 2.3rem;
                    }
                    .translate-bottom {
                        width: 46%;
                        transform: translateY(12.5rem);
                        margin: auto;
                    }
                }
                .middle-bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: inherit;
                    height: 100%;
                    height: calc(100% + 60rem);
                    box-sizing: border-box;
                    background: url("/assets/img/middle-bg.jpg");
                    background-size: cover;
                    background-position: center;
                    z-index: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    overflow: hidden;
                    .bottom-content {
                        margin-left: var(--size-210);
                        h2 {
                            font-family: var(--third-font);
                            font-size: 12rem;
                            line-height: 1;
                            font-weight: var(--font-medium);
                            margin: 0;
                            position: relative;
                            width: max-content;
                            &:first-of-type {
                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: -120px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    width: var(--size-120);
                                    height: 1rem;
                                    background: var(--first-color);
                                }
                            }
                            &:last-of-type {
                                margin-bottom: var(--size-100);
                            }
                        }
    
                        p {
                            width: 19%;
                            &:last-of-type {
                                margin-top: var(--size-80);
                                margin-bottom: var(--size-100);
                            }
                        }
    
                        .chair-img {
                            position: absolute;
                            top: calc(100% - 65rem);
                            left: calc(50% + 10rem);
                            transform: translateX(-50%);
                            width: 60rem;
                            height: 100rem;
                            // object-fit: cover;
                        }
    
                        .plus-icon {
                            position: absolute;
                            right: 10%;
                            bottom: var(--size-100);
                            width: var(--size-40);
                            height: var(--size-40);
                            border: 1px solid #ddd;
                            border-radius: 50%;
                            font-size: 2.5rem;
                            font-weight: lighter;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .loading-icon {
        display: none;
    }
    .banner-container {
        .header {
            .header-link-item {
                display: none;
            }
            .menu-icon {
                display: block;
            }
        }

        .slide-list {
            .slide-item {
                .item-info {
                    width: 83%;
                    .article-content {
                        column-count: 1;
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .banner-container {
        .slide-list {
            padding: var(--size-70) 0;
            .slide-item {
                .item-info {
                    width: 91%;
                    h2, h2 * {
                        font-size: 2.75rem;
                        margin-bottom: var(--size-40);
                    }
                }
                .industrial-text {
                    position: static;
                    writing-mode: unset;
                    height: auto;
                    margin-left: var(--size-35);
                    margin-top: var(--size-35);
                }
            }
        }
    }
}
